
<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#Samsung">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Samsung
                    </a>
                </h4>
            </div>
            <div id="Samsung" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "samsung"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "samsung" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "samsung" })">Hàng giảm giá </a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#LG">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        LG
                    </a>
                </h4>
            </div>
            <div id="LG" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "lg"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "lg" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "lg" })">Hàng giảm giá </a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#SONY">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        SONY
                    </a>
                </h4>
            </div>
            <div id="SONY" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "sony"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "sony" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "sony" })">Hàng giảm giá </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#OPPO">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        OPPO
                    </a>
                </h4>
            </div>
            <div id="OPPO" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "oppo"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "oppo" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "oppo" })">Hàng giảm giá </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#Asus">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Asus
                    </a>
                </h4>
            </div>
            <div id="Asus" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "asus"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "asus" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "asus" })">Hàng giảm giá </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#HTC">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        HTC
                    </a>
                </h4>
            </div>
            <div id="HTC" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "htc"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "htc" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "htc" })">Hàng giảm giá </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#Apple">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Apple
                    </a>
                </h4>
            </div>
            <div id="Apple" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Product","Product",new {loai = "bán chạy" , brand = "apple"})">Bán chạy </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "mới", brand = "apple" })">Hàng mới </a></li>
                        <li><a href="@Url.Action("Product","Product",new {loai = "giảm giá", brand = "apple" })">Hàng giảm giá </a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div><!--/category-products-->

    <div class="shipping text-center">
        <!--shipping-->
        <img src="~/images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>
